# GitHub Action for generating a contribution graph with a snake eating your contributions.
name: Generate Snake
on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:
  push:
    branches:
    - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Clone repo
        uses: actions/checkout@v3
    
      - name: Generate the snake files in './dist/'
        uses: Platane/snk@v3
        with:
          github_user_name: ${{ github.repository_owner }}
          outputs: |     
            dist/github-contribution-grid-snake.gif
            dist/github-contribution-grid-snake-dark.gif?palette=github-dark&color_snake=orange
            dist/github-contribution-grid-snake.svg
            dist/github-contribution-grid-snake-dark.svg?palette=github-dark&color_snake=orange
        env:
           GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Create SVG with black background
        run: |
          chmod -R 777 dist/
          echo '<svg xmlns="http://www.w3.org/2000/svg" width="900" height="200" viewBox="0 0 900 200"><rect width="100%" height="100%" fill="#0d1117"/><image href="github-contribution-grid-snake-dark.svg" width="900" height="200"/></svg>' > dist/github-snake-with-bg.svg
        
      - name: Show build status
        run: git status
        
      - name: Push new files to the output branch
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
          commit_message: Update snake animations
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
